.ft{display:inline-block; width:64px;height:64px; background:url(../images/filetypes.png) no-repeat 0 0;}
.ft_small{display:inline-block;width:16px;height:16px; background:url(../images/filetypes.png) no-repeat 0 0;margin-right: 3px;}

.ft_null{background-position:0 0px}
.ft_small_null{background-position:-164px -48px}
.ft_folder{background-position:0 -124px}
.ft_small_folder{background-position:-164px -172px}
.ft_ai{background-position:0 -248px}
.ft_small_ai{background-position:-164px -296px}
.ft_aif{background-position:0 -372px}
.ft_small_aif{background-position:-164px -420px}
.ft_aiff{background-position:0 -496px}
.ft_small_aiff{background-position:-164px -544px}
.ft_asp{background-position:0 -620px}
.ft_small_asp{background-position:-164px -668px}
.ft_apk{background-position:0 -744px}
.ft_small_apk{background-position:-164px -792px}

.ft_avi{background-position:0 -868px}
.ft_small_avi{background-position:-164px -916px}
.ft_wmv{background-position:0 -868px}
.ft_small_wmv{background-position:-164px -916px}
.ft_flv{background-position:0 -868px}
.ft_small_flv{background-position:-164px -916px}
.ft_vob{background-position:0 -868px}
.ft_small_vob{background-position:-164px -916px}
.ft_mov{background-position:0 -868px}
.ft_small_mov{background-position:-164px -916px}
.ft_mpg{background-position:0 -868px}
.ft_small_mpg{background-position:-164px -916px}
.ft_rm{background-position:0 -868px}
.ft_small_rm{background-position:-164px -916px}
.ft_rmvb{background-position:0 -868px}
.ft_small_rmvb{background-position:-164px -916px}
.ft_3gp{background-position:0 -868px}
.ft_small_3gp{background-position:-164px -916px}
.ft_asx{background-position:0 -868px}
.ft_small_asx{background-position:-164px -916px}
.ft_mkv{background-position:0 -868px}
.ft_small_mkv{background-position:-164px -916px}

.ft_bmp{background-position:0 -992px}
.ft_small_bmp{background-position:-164px -1040px}
.ft_doc{background-position:0 -1116px}
.ft_small_doc{background-position:-164px -1164px}
.ft_docx{background-position:0 -1116px}
.ft_small_docx{background-position:-164px -1164px}
.ft_dvd{background-position:0 -1240px}
.ft_small_dvd{background-position:-164px -1288px}
.ft_dwf{background-position:0 -1364px}
.ft_small_dwf{background-position:-164px -1412px}
.ft_exe{background-position:0 -1488px}
.ft_small_exe{background-position:-164px -1536px}
.ft_fla{background-position:0 -1612px}
.ft_small_fla{background-position:-164px -1660px}
.ft_gif{background-position:0 -1736px}
.ft_small_gif{background-position:-164px -1784px}
.ft_htc{background-position:0 -1860px}
.ft_small_htc{background-position:-164px -1908px}
.ft_html{background-position:0 -1984px}
.ft_small_html{background-position:-164px -2032px}
.ft_htm{background-position:0 -1984px}
.ft_small_htm{background-position:-164px -2032px}

.ft_ics{background-position:0 -2108px}
.ft_small_ics{background-position:-164px -2156px}
.ft_ico{background-position:0 -2232px}
.ft_small_ico{background-position:-164px -2280px}
.ft_java{background-position:0 -2357px}
.ft_small_java{background-position:-164px -2404px}
.ft_jpg{background-position:0 -2480px}
.ft_small_jpg{background-position:-164px -2528px}
.ft_jsp{background-position:0 -2604px}
.ft_small_jsp{background-position:-164px -2652px}
.ft_mov{background-position:0 -2728px}
.ft_small_mov{background-position:-164px -2776px}
.ft_mp3{background-position:0 -2852px}
.ft_small_mp3{background-position:-164px -2900px}
.ft_mp4{background-position:0 -2976px}
.ft_small_mp4{background-position:-164px -3024px}
.ft_pdf{background-position:0 -3100px}
.ft_small_pdf{background-position:-164px -3148px}
.ft_ppt{background-position:0 -3224px}
.ft_small_ppt{background-position:-164px -3272px}
.ft_psd{background-position:0 -3348px}
.ft_small_psd{background-position:-164px -3396px}
.ft_rm{background-position:0 -3472px}
.ft_small_rm{background-position:-164px -3520px}
.ft_rif{background-position:0 -3596px}
.ft_small_rif{background-position:-164px -3644px}
.ft_rar{background-position:0 -3719px}
.ft_small_rar{background-position:-164px -3768px}
.ft_swf{background-position:0 -3844px}
.ft_small_swf{background-position:-164px -3892px}
.ft_tif{background-position:0 -3968px}
.ft_small_tif{background-position:-164px -4016px}
.ft_txt{background-position:0 -4092px}
.ft_small_txt{background-position:-164px -4140px}
.ft_wma{background-position:0 -4216px}
.ft_small_wma{background-position:-164px -4264px}
.ft_wri{background-position:0 -4339px}
.ft_small_wri{background-position:-164px -4387px}
.ft_xls{background-position:0 -4464px}
.ft_small_xls{background-position:-164px -4512px}
.ft_xsl{background-position:0 -4587px}
.ft_small_xsl{background-position:-164px -4635px}
.ft_xslx{background-position:0 -4587px}
.ft_small_xslx{background-position:-164px -4635px}
.ft_zip{background-position:0 -4712px}
.ft_small_zip{background-position:-164px -4760px}
